@import './mixin.scss';
@import './btn.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    margin: 0;
    font-size: 12px;
    color: #666;
    height: 100%
}

label {
    font-weight: 700;
}

html {
    box-sizing: border-box;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.theme {
    background-color: #f2f2f2;
}

.no-padding {
    padding: 0 !important;
}

.padding-content {
    padding: 4px 0;
}

a:focus,
a:active {
    outline: none;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

ol, ul {
    list-style: none;
}

a,
a:focus,
a:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

label {
    cursor: pointer;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.pr-5 {
    padding-right: 5px;
}

.pl-5 {
    padding-left: 5px;
}

.mb-15 {
    margin-bottom: 15px;
}

.hr-top {
    border-top: 1px solid #e5e5e5;
}

.hr {
    border-bottom: 1px solid #e5e5e5;
}

.w60 {
    width: 60%;
}

.fn-12 {
    font-size: 12px;
}

.c-gray {
    color: #999 !important;
}

.block {
    display: block;
}

.pointer {
    cursor: pointer;
}

.inlineBlock {
    display: block;
}

code {
    background: #eef1f6;
    padding: 15px 10px;
    margin-bottom: 20px;
    display: block;
    line-height: 36px;
    a {
        color: #337ab7;
        cursor: pointer;
        &:hover {
            color: rgb(32, 160, 255);
        }
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: all .2s ease
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
}

//main-container全局样式
.app-container {
    padding: 20px;
}

.components-container {
    margin: 30px 50px;
    position: relative;
}

.pagination-container {
    margin-top: 30px;
}

.editor-container .CodeMirror {
    height: 100% !important;
}

.text-center {
    text-align: center
}

.svg-icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.sub-navbar {
    height: 50px;
    line-height: 50px;
    position: relative;
    width: 100%;
    text-align: right;
    padding-right: 20px;
    transition: 600ms ease position;
    background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);
    .subtitle {
        font-size: 20px;
        color: #fff;
    }
    &.draft {
        background: #d0d0d0;
    }
    &.deleted {
        background: #d0d0d0;
    }
}

.link-type,
.link-type:focus {
    color: #337ab7;
    cursor: pointer;
    &:hover {
        color: rgb(32, 160, 255);
    }
}

.publishedTag,
.draftTag,
.deletedTag {
    color: #fff;
    background-color: $panGreen;
    line-height: 1;
    text-align: center;
    margin: 0;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 4px;
    position: absolute;
    left: 20px;
    top: 10px;
}

.draftTag {
    background-color: $yellow;
}

.deletedTag {
    background-color: $red;
}

.input-label {
    font-size: 14px;
    color: #48576a;
    line-height: 1;
    padding: 11px 5px 11px 0;
}

.clearfix {
    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
}

.no-marginLeft {
    .el-checkbox {
        margin: 0 20px 15px 0;
    }
    .el-checkbox + .el-checkbox {
        margin-left: 0px;
    }
}

.filter-container {
    padding-bottom: 10px;
    .filter-item {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 10px;
    }
}

//refine vue-multiselect plugin
.multiselect {
    line-height: 16px;
}

.multiselect--active {
    z-index: 1000 !important;
}

//refine simplemde
.simplemde-container {
    .editor-toolbar.fullscreen, .CodeMirror-fullscreen {
        z-index: 1003;
    }
}

//暂时性解决diolag 问题 https://github.com/ElemeFE/element/issues/2461
.el-dialog {
    transform: none;
    left: 0;
    position: relative;
    margin: 0 auto;
}

//github-corner
.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0)
    }
    20%,
    60% {
        transform: rotate(-25deg)
    }
    40%,
    80% {
        transform: rotate(10deg)
    }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}

//上传
.picture-uploader {
    .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
    .el-upload:hover {
        border-color: #20a0ff;
    }
    .picture-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 80px;
        height: 80px;
        line-height: 80px;
        text-align: center;
    }
}

.upload-image-region {
    .el-dialog--small {
        width: 862px;
    }
    .modal-header {
        padding: 6px 0 6px 15px;
        margin-right: 20px;
        border-bottom: 1px solid #e5e5e5;
        .title {
            font-size: 14px;
            line-height: 28px;
            margin-right: 20px;
            font-weight: bold;
        }
        .content {
            .input-append, .input-prepend {
                display: inline-block;
                margin-bottom: 10px;
                font-size: 0;
                white-space: nowrap;
                vertical-align: middle;
            }
        }
    }

    .modal-body {
        min-height: 300px;
        .network-image-region .title, .local-image-region .title {
            float: left;
            font-size: 14px;
            font-weight: bold;
            width: 150px;
            text-align: right;
            height: 30px;
            line-height: 30px;
        }

        .network-image-region, .local-image-region {
            margin: 0 20px;
            padding: 40px 10px;
            zoom: 1;
        }

        .network-image-region {
            border-bottom: 1px solid #e5e5e5;
        }
        .content {
            float: left;
            width: 500px;
            margin-left: 10px;
            .input-append, .input-prepend {
                display: block;
                margin-bottom: 10px;
                font-size: 0;
                white-space: nowrap;
                vertical-align: middle;
            }
            .image-list {
                height: auto;
                .upload-local-image-item {
                    position: relative;
                    float: left;
                    margin: 0 20px 20px 0;
                    .image-box {
                        width: 80px;
                        height: 80px;
                    }
                }
                .upload-local-image-item:hover .close-modal {
                    display: block;
                }
            }
        }
    }

    .dialog-footer {
        padding: 14px 15px 15px;
        text-align: center;
        display: block;
        border-top: 1px solid #e5e5e5;
        padding-top: 20px;
    }
}

//删除图片
.close-modal {
    position: absolute;
    z-index: 2;
    top: -9px;
    right: -9px;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
    opacity: 0.5;
    display: none;
}

.close-modal:hover {
    opacity: 1;
}

.close-modal.small {
    top: -8px;
    right: -8px;
    font-size: 14px;
}

//重写
.widget-attachment {
    width: 862px;
    padding: 0;
    .el-dialog__header, .el-dialog__footer, .el-dialog__body {
        padding: 0;
        margin: 0;
    }
}

//关闭
.close {
    float: right;
    font-size: 15px;
    font-weight: 700;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
    cursor: pointer;
    line-height: 30px;
}

.ui-btn-primary {
    color: #fff;
    background: #07d;
    border-color: #006cc9;
}

.ui-btn-disabled, .ui-btn-disabled:hover, .ui-btn-disabled:focus, .ui-btn-disabled:active {
    color: #999;
    background: #f0f0f0;
    border-color: #ddd;
}

.ui-search-box {
    top: 6px;
    right: 60px;
    position: absolute;
    z-index: 10;
    vertical-align: middle;
    margin: 0;
}

.image-list {
    height: auto;
    .upload-local-image-item {
        position: relative;
        float: left;
        margin: 0 20px 20px 0;
        .image-box {
            width: 80px;
            height: 80px;
        }
    }
    .upload-local-image-item:hover .close-modal {
        display: block;
    }
}
